nfl-big-data-bowl-2023/tracking.parquet
nfl-big-data-bowl-2023/tracking.parquet:Zone.Identifier
nfl-big-data-bowl-2023/tracking_wscout.parquet
nfl-big-data-bowl-2023/tracking_wscout.parquet:Zone.Identifier
nfl-big-data-bowl-2023/qb_spaces_pre_noclip.parquet
nfl-big-data-bowl-2023/qb_spaces_pre.parquet


.vscode/**
.myby_cache/**
**/__pycache__/**

nflenv/**